@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap");

.arabic {
  direction: rtl;
  text-align: right;
}

.english {
  direction: ltr;
  text-align: left;
}

h1 {
  font-family: "Playwrite NZ", cursive;
}

.input,
.todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input input {
  width: 60%;
  padding: 5px 10px;
  border-radius: 15px;
}
.input button {
  margin: 0 10px;
}

.todo-list {
  width: 75%;
  margin: 0 auto;
}

.todo-list ul {
  width: 100%;
  list-style: none;
  padding: 5px 10px;
}

.todo-list ul li {
  font-size: 20px;

  border-bottom: 1px solid #aaa;
  padding: 5px 0;
}

.todo-list ul li label {
  width: 100%;
  overflow-wrap: break-word;
}
input[type="checkbox"] {
  background: red;
}

.addinput {
  margin: 0 5px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.trash,
.edit {
  cursor: pointer;
  font-size: 30px;
}

.edit {
  margin: 0 5px;
}

.done {
  text-decoration: line-through;
}
